pkgbase = opencode-native
	pkgdesc = The open source coding agent (native x86_64 build from source)
	pkgver = 1.4.6
	pkgrel = 1
	url = https://github.com/anomalyco/opencode
	arch = x86_64
	license = MIT
	makedepends = bun>=1.3.9
	makedepends = git
	depends = curl
	depends = gcc-libs
	depends = glibc
	depends = icu
	depends = ripgrep
	depends = tar
	optdepends = wl-clipboard: clipboard support on Wayland
	optdepends = xclip: clipboard support on X11
	provides = opencode=1.4.6
	conflicts = opencode
	conflicts = opencode-bin
	conflicts = opencode-git
	options = !debug
	options = !strip
	source = opencode::git+https://github.com/anomalyco/opencode.git#commit=765932199021cf1dd7a813e37da744f391752bd1
	b2sums = SKIP

pkgname = opencode-native
