pkgbase = opencode-native
	pkgdesc = The AI coding agent built for the terminal
	pkgver = 1.1.49
	pkgrel = 1
	url = https://github.com/anomalyco/opencode
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = bun
	makedepends = go
	depends = ripgrep
	provides = opencode
	conflicts = opencode
	conflicts = opencode-bin
	conflicts = opencode-git
	options = !debug
	options = !strip
	source = opencode-1.1.49.tar.gz::https://github.com/anomalyco/opencode/archive/v1.1.49.tar.gz
	sha256sums = 7cea2a43222397a64db33a0d363f1aa8f2dbd483c7be4a013d050725a46605a4

pkgname = opencode-native
