pkgbase = espanso-wayland
	pkgdesc = Cross-platform Text Expander written in Rust (Wayland build, locally optimized for znver3)
	pkgver = 2.4.0
	pkgrel = 1
	url = https://github.com/espanso/espanso
	install = espanso-wayland.install
	arch = x86_64
	license = GPL-3.0-only
	makedepends = bzip2
	makedepends = cargo
	makedepends = clang
	makedepends = dbus
	makedepends = libxkbcommon
	makedepends = lld
	makedepends = rust
	makedepends = rust-src
	makedepends = wxwidgets-common
	makedepends = wxwidgets-gtk3
	depends = bzip2
	depends = dbus
	depends = gcc-libs
	depends = glibc
	depends = libxkbcommon
	depends = wl-clipboard
	depends = wxwidgets-common
	depends = wxwidgets-gtk3
	optdepends = kdotool: window/app-specific context matching under KDE Plasma Wayland
	provides = espanso
	conflicts = espanso
	conflicts = espanso-x11
	options = !lto
	options = !debug
	source = espanso-2.4.0.tar.gz::https://github.com/espanso/espanso/archive/refs/tags/v2.4.0.tar.gz
	sha256sums = 90895a8a79476f902a6cfc88a67e8e077971be13f728ce1a35866355d60285a7

pkgname = espanso-wayland
