pkgbase = brave-origin
	pkgdesc = The minimalist browser from the makers of Brave
	pkgver = 1.92.139
	pkgrel = 1
	url = https://brave.com/origin/download
	arch = x86_64
	license = MPL-2.0
	license = BSD-3-Clause
	license = LicenseRef-chromium
	depends = alsa-lib
	depends = gtk3
	depends = libxss
	depends = nss
	depends = ttf-font
	optdepends = cups: Printer support
	optdepends = libgnome-keyring: GNOME keyring support
	optdepends = libnotify: Native notification support
	optdepends = mesa: Hardware-accelerated rendering
	provides = brave-origin-bin
	conflicts = brave-origin-bin
	noextract = brave-origin-1.92.139-linux-amd64.zip
	options = !strip
	source = brave-origin.sh
	source = brave-origin.desktop
	source = brave-origin-1.92.139-linux-amd64.zip::https://github.com/brave/brave-browser/releases/download/v1.92.139/brave-origin-1.92.139-linux-amd64.zip
	sha256sums = 9e189526a75316fcb83c78220590d1aebcf38987a3b0fe1ad58521dcb1aacbf7
	sha256sums = 27dabebca9b7a5322ae4e04c57adf696e751669a938a5f6a07a35cad6fc01fa2
	sha256sums = 132d5290c8c997526deef89962489ddde5703cf98dcc8733547cd9d5ab6ec8a7

pkgname = brave-origin
