pkgbase = brave-origin-beta
	pkgdesc = The minimalist browser from the makers of Brave (beta release)
	pkgver = 1.93.117
	pkgrel = 1
	url = https://brave.com/origin/download-beta
	arch = x86_64
	license = MPL-2.0
	license = BSD-3-Clause
	license = LicenseRef-chromium
	depends = alsa-lib
	depends = gtk3
	depends = libxss
	depends = nss
	depends = ttf-font
	optdepends = cups: Printer support
	optdepends = libgnome-keyring: GNOME keyring support
	optdepends = libnotify: Native notification support
	optdepends = mesa: Hardware-accelerated rendering
	provides = brave-origin-beta-bin
	conflicts = brave-origin-beta-bin
	noextract = brave-origin-beta-1.93.117-linux-amd64.zip
	options = !strip
	source = brave-origin-beta.sh
	source = brave-origin-beta.desktop
	source = brave-origin-beta-1.93.117-linux-amd64.zip::https://github.com/brave/brave-browser/releases/download/v1.93.117/brave-origin-beta-1.93.117-linux-amd64.zip
	sha256sums = 6afbc253d899aa6fbe5dcbe082f8137824f422fe169c4e95fec6334893925fb0
	sha256sums = 3fd2e0f9055ff73c2200a668627b70e9c46652d39f30e9077706d25caf8226f1
	sha256sums = 3d4cf677992d1db11b9386a904470446175e42ea516e33555109550dafb032d1

pkgname = brave-origin-beta
