pkgbase = firefox-nightly-settings
	pkgdesc = CachyOS settings for Firefox Nightly
	pkgver = 20251123
	pkgrel = 1
	url = https://github.com/CachyOS/CachyOS-PKGBUILDS/tree/master/cachyos-firefox-settings
	arch = any
	depends = firefox-nightly
	depends = xdg-desktop-portal-impl
	provides = firefox-nightly-settings
	backup = etc/firefox/policies/policies.json
	source = cachyos.js
	source = policies.json
	sha256sums = 2d00cac253942c992c79a3affedfbb8a3439f7bc06f6552771265febb24f39ab
	sha256sums = 4e362c54d2891a80b605ae1996205c7d66ba971a54a038b2f261c7d263094a81

pkgname = firefox-nightly-settings
