pkgbase = brave-origin-nightly
	pkgdesc = The minimalist browser from the makers of Brave (nightly release)
	pkgver = 1.92.12
	pkgrel = 1
	url = https://brave.com/origin/download-nightly
	arch = x86_64
	license = MPL-2.0
	license = BSD-3-Clause
	license = LicenseRef-chromium
	depends = alsa-lib
	depends = gtk3
	depends = libxss
	depends = nss
	depends = ttf-font
	optdepends = cups: Printer support
	optdepends = libgnome-keyring: GNOME keyring support
	optdepends = libnotify: Native notification support
	optdepends = mesa: Hardware-accelerated rendering
	provides = brave-origin-nightly-bin
	conflicts = brave-origin-nightly-bin
	noextract = brave-origin-nightly-1.92.12-linux-amd64.zip
	options = !strip
	source = brave-origin-nightly.sh
	source = brave-origin-nightly.desktop
	source = brave-origin-nightly-1.92.12-linux-amd64.zip::https://github.com/brave/brave-browser/releases/download/v1.92.12/brave-origin-nightly-1.92.12-linux-amd64.zip
	sha256sums = 3f1d67f68ce3056c233f1987452320e56c515c907b8c71a53b6249a57b7e8d6b
	sha256sums = abf54cd68c666dff68f216b534202feeb947ad6cdba569fa05fd4f1ab54066dd
	sha256sums = 2d74de37ec7f2c3a4b23aae42355f71b16561f97965280e1dfbfa64444706932

pkgname = brave-origin-nightly
