pkgbase = brave-origin-nightly
	pkgdesc = The minimalist browser from the makers of Brave (nightly release)
	pkgver = 1.91.125
	pkgrel = 1
	url = https://brave.com/origin/download-nightly
	arch = x86_64
	license = MPL-2.0
	license = BSD-3-Clause
	license = LicenseRef-chromium
	depends = alsa-lib
	depends = gtk3
	depends = libxss
	depends = nss
	depends = ttf-font
	optdepends = cups: Printer support
	optdepends = libgnome-keyring: GNOME keyring support
	optdepends = libnotify: Native notification support
	optdepends = mesa: Hardware-accelerated rendering
	provides = brave-origin-nightly-bin
	conflicts = brave-origin-nightly-bin
	noextract = brave-origin-nightly-1.91.125-linux-amd64.zip
	options = !strip
	source = brave-origin-nightly.sh
	source = brave-origin-nightly.desktop
	source = brave-origin-nightly-1.91.125-linux-amd64.zip::https://github.com/brave/brave-browser/releases/download/v1.91.125/brave-origin-nightly-1.91.125-linux-amd64.zip
	sha256sums = df4f60668327f89fa103a37c9270b09e08a21c4619ce6af0a1a0bbdddd047781
	sha256sums = c05be80b30e642aed96a70a573ec769d5fff2a885198fb9f70f5af4a0d212b35
	sha256sums = dc442fc02eb9686049c1f84becbbba524391229dd6e54cf52919dcfb18927972

pkgname = brave-origin-nightly
